{% extends 'site_base.html' %}
{% load i18n tagging_tags planet_tags %}

{% block head_feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - RSS 2.0 Feed" href="{% url planet_rss_feed %}" />
{% endblock %}


{% block extra_head %}
<script src="{{ STATIC_URL }}highlight/highlight.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('pre code').each(function(i, e) {hljs.highlightBlock(e, '  ')});
});
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}highlight/styles/ir_black.css" />
<style type="text/css">
pre {
    text-align: left;
}
</style>
{% endblock %}

{% block right_column %}
    {% tag_cloud_for_model planet.Post as tags_cloud with steps=7 min_count=5 distribution=log %}
    {% include 'planet/tags/blocks/cloud.html' %}

    <div id="buttons">
        <ul>
            <li>
                {% block rss_feed %}
                <a href="{% url planet_rss_feed %}" title="{% trans 'Suscribe to RSS feed' %}">
                    <img src="{{ MEDIA_URL }}images/rss20.png" alt="RSS 2.0 Feed"/>
                </a>
                {% endblock %}
                </li>
            <li>
                {% block atom_feed %}
                {% endblock %}
            </li>
            <li>
                <a href="{% url planet_opml %}" title="OPML">
                    <img src="{{ MEDIA_URL }}images/button-opml.png"/>
                </a>
            </li>
            <li>
                <a href="{% url planet_foaf %}" title="FOAF">
                    <img src="{{ MEDIA_URL }}images/button-foaf.png"/>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
