{% extends 'fanzine/base.html' %}

{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
ol.posts {
    margin-left: 0;
}
ol.posts li {
    margin-left: 2em;
    margin-bottom: 0.1em;
    list-style-type: upper-roman;
}
.part h2.title {
    text-align: center;
}
.fanzine_details span.date {
    float: right;
    font-size: 80%;
}
</style>
{% endblock %}

{% block body %}
<div class="fanzine_details">
    <span class="date">
        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
        {{ object.date.year }}/{{ object.date.month }}/{{ object.date.day }}
        </a> 
    </span>
    <h1>
        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
            {{ object.title|striptags|safe }}
        </a>
    </h1>
    <div class="content">
        {{ object.text }}
    </div>
    
    <div class="parts">
    {% for part in object.fanzinepart_set.all %}
        <div class="part">
            <h2 class="title">
                <a href="{% url planet_tag_detail part.tag.name %}" title="{% trans 'see all posts tagged' %} '{{ part.tag.name }}'">
                    {{ part.tag }}
                </a>
            </h2>
            <p class="text">
                {{ part.text|safe }}
            </p>
            <ol class="posts">
            {% for partpost in part.fanzinepartpost_set.all %}
                <li class="post">
                    <a href="{{ partpost.post.url }}" title="{{ partpost.post.title }}">
                        {{ partpost.post.title }}
                    </a>
                </li>
            {% endfor %}
            </ol>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
