{% load i18n %}
<div class="linklist">
<h3>{% trans "internationnal consulting" %}</h3>
<ul>
    <li>
        <a href="http://gg.ee" title="eZ Publish">
            eZ Publish (ee)
        </a>
    </li>
    <li>
        <a href="http://qafoo.com" title="PHP {% trans "quality expertise" %}">
            PHP {% trans "quality expertise" %} (gr)
        </a>
    </li>
    <li>
        <a href="http://derickrethans.nl" title="PHP {% trans "core development" %}">
            PHP {% trans "core development" %} (nl)
        </a>
    </li>
    <li>
        <a href="http://grenlandweb.no" title="{% trans "norway" %} {% trans "web agency" %}">
            {% trans "web agency" %} (no)
        </a>
    </li>
    <li>
        <a href="http://es.linkedin.com/in/alejandrocapparelli" title="{% trans "communication" %}">
            {% trans "communication" %} (es)
        </a>
    </li>
</ul>
</div>

<div class="linklist">

<h3>{% trans "internationnal partners" %}</h3>
<ul>
    <li>
        <a href="http://fengoffice.com" title="Feng office">
            Feng office (ug)
        </a>
    </li>
    <li>
        <a href="http://paris-offshore.fr" title="{% trans "Offshore and onshore accounting services" %}">
            Paris-Offshore (fr)
        </a>
    </li>
</ul>
</div>

<div class="linklist">
<h3>{% trans "french consulting" %}</h3>
<ul>
    <li>
        <a href="http://emonnerot.chocolatpistache.com/" title="{% trans "computer graphics" %}">
            {% trans "computer graphics" %}
        </a>
    </li>
    <li>
        <a href="http://daxey.net" title="{% trans "development" %}">
            {% trans "development" %}
        </a>
    </li>
    <li>
        <a href="http://pistil-design.net" title="{% trans "marketing" %}">
            {% trans "marketing" %}
        </a>
    </li>
    <li>
        <a href="http://blobidesign.net" title="{% trans "design" %}">
            {% trans "design" %}
        </a>
    </li>
    <li>
        <a href="http://neoskills.net" title="{% trans "system administration" %}">
            {% trans "system administration" %}
        </a>
    </li>
    <li>
        <a href="http://fr.linkedin.com/pub/marc-poussin/3/760/20b" title="{% trans "attorney" %}">
            {% trans "attorney" %}
        </a>
    </li>
</ul>
</div>

<div class="linklist last">
<h3>{% trans "pleasure" %}</h3>
<ul>
    <li>
        <a href="http://idyoulo.com" title="{% trans "world music" %}">
            {% trans "world music" %}
        </a>
    </li>
    <li>
        <a href="http://madeleinemarket.com" title="{% trans "delicatessen" %}">
            {% trans "delicatessen" %}
        </a>
    </li>
    <li>
        <a href="http://www.playlistnow.fm/" title="{% trans "music playlists" %}">
            {% trans "music playlists" %}
        </a>
    </li>
    <li>
        <a href="http://www.prix-litteraires.net/" title="{% trans "literary awards" %}">
            {% trans "literary awards" %}
        </a>
    </li>
    <li>
        <a href="http://chocspace.com" title="{% trans "chocspace" %}">
            chocspace
        </a>
    </li>
</ul>
</div>

