<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n tagging_tags planet_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>{% block page_title %}{{ site.name }}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible." />
	<meta name="keywords" content="The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible." />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css" media="screen" />
    {% block extrameta %}
    <meta name="DC.title" content="{{ site.name }}" />
    {% endblock %}
    <meta http-equiv="content-language" content="en" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8">
    <link href="{{ STATIC_URL }}icons/shortcut.ico" rel="SHORTCUT ICON">
    <link rel="meta" type="application/rdf+xml" title="FOAF" href="{% url planet_foaf %}" /> 
    {% block head_feeds %}
    {% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    <style type="text/css">
.col2 {
    padding-top: 60px;
    text-align: right;
}
.col3 {
    padding-top: 60px;
}
.errorField{ color: #af4c4c; margin: 0 0 6px 0; padding: 4px; background: #ffbfbf; }
.linklist {display:inline;float:left;margin-left:10px;margin-right:10px; width:300px;}
div.box span.title {
    margin: 1em 0 0.2em; font-weight: bold;
    margin: 0.25em 0 .2em; font-size: 1.8em; letter-spacing: -0.025em; line-height: 1.2em; font-weight: 100;
}

    </style>
</head>
<body>

<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1"> 
                {% include "messages.html" %}
				<!-- Column 1 start -->
                {% block body %}
                {% block content %}
                {% endblock %}
                {% endblock body %}
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
                {% block menu %}
                {% block menu_extra %}
                {% endblock %}
                {% endblock %}
                {% block search %}
                {% endblock %}
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
                {% include "subscription.html" %}
                {% block right_column %}
                {% endblock %}
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer">
{% include "footer.html" %}
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.hide_parent').live('click', function(e) {
        e.preventDefault();
        $(this).parent().fadeOut();
    });
});
</script>

</body>
</html>
